<StackLayout class="plugin-chat-new">
    <Label class="title h2 pull-left"
           text="Start a chat with:"></Label>

    <Label class="p"
           *ngIf="!createButtonEnabled()"
           text="No users selected"></Label>

    <StackLayout class="input-field"
                 horizontalAlignment="stretch">
        <ListPicker #picker class="p"
                    [items]="usersStrList"
                    (selectedIndexChange)="selectedUserIndex = picker.selectedIndex">
        </ListPicker>
    </StackLayout>


    <GridLayout columns="*,*, *" rows="auto" width="*">
        <Button class="btn"
                (tap)="addUserClicked()"
                text="Add User"></Button>
        <Button class="btn"
                *ngIf="createButtonEnabled()"
                col="1"
                text="Create Chat"
                (tap)="confirmClicked(true)">
        </Button>
        <Button class="btn"
                col="2"
                text="Cancel"
                (tap)="cancelClicked(true)">
        </Button>
    </GridLayout>

</StackLayout>