<StackLayout>

    <pl-chat-new-chat
            *ngIf="isNewChatDialogShown()"
            (create)="dialogConfirmed($event)"
            (cancel)="dialogCanceled()"
            [data]="newChatDialogData">

    </pl-chat-new-chat>

    <GridLayout class="peek-nav-section"
                *ngIf="!isNewChatDialogShown()"
                rows="auto" columns="auto, auto">

        <Button class="btn"
                text="New Chat"
                (tap)="newChatClicked()">

        </Button>
    </GridLayout>

    <ListView class="plugin-chat-list peek-nav-bar-padding"
              [items]="chats">
        <StackLayout class="chat-list-messages"
                     *ngFor="let i = index; let chat of chats"
                     [class.odd]="odd" [class.even]="even"
                     (tap)="chatClicked(chat)">
            <WrapLayout>

                <Label class="chat-list-icon"
                       *ngIf="isChatRead(chat)" class="fa h2"
                       [text]="'fa-fw' | fonticon"></Label>

                <Label class="chat-list-icon"
                       *ngIf="!isChatRead(chat)" class="fa h2"
                       [text]="'fa-comment-o' | fonticon"></Label>

                <WrapLayout *ngFor="let user of otherChatUsers(chat)">
                    <Label class="chat-list-title"
                           textWrap="true"
                           text="{{userDisplayName(user)}} ({{user.userId}})"></Label>
                    <Label text=" "></Label>
                </WrapLayout>
            </WrapLayout>
        </StackLayout>
    </ListView>
</StackLayout>

