<div class="container">

    <!--TRANSITION WITH REASON DIALOG -->
    <pl-chat-new-chat
            *ngIf="isNewChatDialogShown()"
            (create)="dialogConfirmed($event)"
            (cancel)="dialogCanceled()"
            [data]="newChatDialogData">

    </pl-chat-new-chat>

    <Button class="btn btn-default" (click)="newChatClicked()">New Chat</Button>


    <div class="row" *ngFor="let item of chats" (click)="chatClicked(item)"
         class="well">
        <div class="col-sm-12">
            <span *ngFor="let user of item.users">
                <span class="label label-success">
                    {{userDisplayName(user)}} ({{user.userId}})
                </span>&nbsp;
            </span>
        </div>
    </div>

</div>