<div class="container">
    <Button class="btn btn-default" (click)="mainClicked()">Back to Main</Button>


    <p *ngIf="!haveMessages()">No messages</p>

    <div class="row" *ngFor="let msg of chat.messages">
        <div class="col-sm-12">
            <p>{{msg.message}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="newMessageText">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"
                            [disabled]="!sendEnabled()"
                            (click)="sendMsgClicked()">Send</button>
                </span>
            </div>
        </div>
    </div>
</div>